* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}
#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  #experience-canvas {
    height: 100%;
    width: 100%;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 9999;
  display: none;
  color: white;
  background-color: black;
}
